body {
  font-family: helvetica;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-top: auto;
  text-align: center;
}

#buy-error-message {
  display: block; /* To make it visible */
  /* ... other CSS styles ... */
}