<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Stock Brokerage: {% block title %} {% endblock %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" {% if session["user_id"] %} href="/" {% else %} href="/login" {% endif %}>Panvest Securities & Stock Brokerage</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              {% if session["user_id"] %}
                <a class="nav-link {% if active_page == 'portfolio' %}active{% endif %}" {% if active_page == 'portfolio' %}aria-current="page"{% endif %} href="/">Portfolio</a>
                <a class="nav-link {% if active_page == 'quote' %}active{% endif %}" {% if active_page == 'quote' %}aria-current="page"{% endif %} href="/quote">Quote Stock</a>
                <a class="nav-link {% if active_page == 'buy' %}active{% endif %}" {% if active_page == 'buy' %}aria-current="page"{% endif %} href="/buy">Buy</a>
                <a class="nav-link {% if active_page == 'sell' %}active{% endif %}" {% if active_page == 'sell' %}aria-current="page"{% endif %} href="/sell">Sell</a>
                <a class="nav-link {% if active_page == 'trade_history' %}active{% endif %}" {% if active_page == 'trade_history' %}aria-current="page"{% endif %} href="/trade_history">History</a>
                <a class="nav-link" href="/logout">Logout</a>
              {% else %}
                <a class="nav-link {% if active_page == 'about' %}active{% endif %}" {% if active_page == 'about' %}aria-current="page"{% endif %} href="/about">About</a>
                <a class="nav-link {% if active_page == 'features' %}active{% endif %}" {% if active_page == 'features' %}aria-current="page"{% endif %} href="/features">Features</a>
                <a class="nav-link {% if active_page == 'login' %}active{% endif %}" {% if active_page == 'login' %}aria-current="page"{% endif %} href="/login">Login</a>
                <a class="nav-link {% if active_page == 'register' %}active{% endif %}" {% if active_page == 'register' %}aria-current="page"{% endif %} href="/register">Register</a>              
              {% endif %}
              
            </div>
          </div>
        </div>
      </nav>
    <div class="container content">
        <header>
            <h1>Stock Brokerage</h1>
            <h2>{% block header %} {% endblock %}</h2>
        </header>

        <main>
            {% block body %}

            {% endblock %}
        </main>

        <footer class="footer">
          <div class="container">
              <span class="text-muted">Created By William Pan | <a href="https://github.com/williampan22">Github</a></span>
          </div>
      </footer>
    </div>
  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

    <script>
        window.addEventListener("beforeunload", function() {
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/clear_session", false);
          xhr.send();
        });
    </script>
</body>
</html>
