<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Stock Brokerage: {% block title %} {% endblock %} </title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Stock Brokerage</h1>
        </header>

        <main>
            {% block body %}

            {% endblock %}
        </main>

        <footer>
            <p>Created By William Pan | <a href="https://github.com/williampan22">Github</a></p>
        </footer>
    </div>
    
    <script>
        window.addEventListener("beforeunload", function() {
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/clear_session", false);
          xhr.send();
        });
    </script>
</body>
</html>