{% extends "base.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block body %}

<h3>Portfolio</h3>

<a href="/">Portfolio</a>
<a href="/logout">Logout</a>
<a href="/deposit">Deposit</a>
<a href="/quote">Quote</a>
<a href="/buy">Buy</a>
<a href="/sell">Sell</a>
<a href="/trade_history">History</a>

<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Share</th>
            <th>Shares</th>
            <th>Average Buy Price</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
        {% for row in portfolio %}
        <tr>
            <td>{{row.symbol}}</td>
            <td>{{row.name}}</td>
            <td>{{row.shares}}</td>
            <td>{{row.avg_buy_price}}</td>
            <td>{{row.total_value}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}