{% extends "base.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block header %}
Portfolio
{% endblock %}

{% block body %}
<h4>Cash: ${{current_cash}}</h4>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Shares</th>
      <th>Average Cost/Share</th>
      <th>Current Price</th>
      <th>Initial Purchase Cost</th>
      <th>Total Current Value</th>
      <th>Total P/L</th>
      <th>Total P/L %</th>
      <th>Day P/L</th>
      <th>Day P/L %</th>
    </tr>
  </thead>
  <tbody>
    {% for row in portfolio %}
    <tr>
      <td><a href="/quote?symbol={{row.symbol}}">{{row.symbol}}</a></td>
      <td>{{row.name}}</td>
      <td>{{row.shares}}</td>
      <td>${{row.avg_buy_price}}</td>
      <td>${{row.current_price}}</td>
      <td>${{row.initial_total_value}}</td>
      <td>${{row.total_value}}</td>
      <td>
        <script>
          var profitLoss = {{ row.profit_loss }};
          if (profitLoss < 0) {
            document.write('<span style="color: red; font-weight: bold;">-$' + Math.abs(profitLoss) + '</span>');
          } else {
            document.write('<span style="color: green; font-weight: bold;">$' + profitLoss + '</span>');
          }
        </script>
      </td>
      <td>
        <span style="color: {% if row.profit_loss_percent > 0 %}green{% else %}red{% endif %}; font-weight: bold;">
          {{ row.profit_loss_percent }}%
        </span>
      </td>
      <td>
        <script>
          var profitLossDay = {{ row.profit_loss_day }};
          if (profitLossDay < 0) {
            document.write('<span style="color: red; font-weight: bold;">-$' + Math.abs(profitLossDay) + '</span>');
          } else {
            document.write('<span style="color: green; font-weight: bold;">$' + profitLossDay + '</span>');
          }
        </script>
      </td>
      <td>
        <span style="color: {% if row.profit_loss_percent_day > 0 %}green{% else %}red{% endif %}; font-weight: bold;">
          {{ row.profit_loss_percent_day }}%
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}