{% extends "base.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block header %}
Portfolio
{% endblock %}

{% block body %}
<h4>Cash: ${{current_cash}}</h4>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Share</th>
            <th>Shares</th>
            <th>Average Buy Price</th>
            <th>Total Value</th>
        </tr>
    </thead>
    <tbody>
        {% for row in portfolio %}
        <tr>
            <td>{{row.symbol}}</td>
            <td>{{row.name}}</td>
            <td>{{row.shares}}</td>
            <td>${{row.avg_buy_price}}</td>
            <td>${{row.total_value}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}