{% extends "base.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block header %}
    Sell Stock
{% endblock %}

{% block body %}
    <form id="sell-form" class="form-error-handling" action="/sell" method="post">
        <select autocomplete="off" name="symbol" id="symbol">
            <option disabled selected value="">Select a Stock to Sell</option>
            {% for stock in portfolio %}
            <option value="{{stock.symbol}}">{{stock.symbol}}</option>
            {% endfor %}
        </select>
        <input autocomplete="off" name="shares" id="shares" placeholder="Shares" type="number" min="0">
        <button type="submit">Sell</button>
    </form>

    <!-- "error-message" div for sell form -->
    <div id="error-message" class="text-danger" style="display: none;"></div>

    <script src="/static/sell.js"></script>
{% endblock %}
