{% extends "base.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block header %}
    Sell Stock
{% endblock %}

{% block body %}
<form action="/sell" method="post">
    <select autcomplete="off" name="symbol" id="symbol">
        <option disabled selected value="">Select a Stock to Sell</option>
        {% for stock in portfolio %}
        <option value="{{stock.symbol}}">{{stock.symbol}}</option>
        {% endfor %}
    </select>
    <input autocomplete="off" name="shares" placeholder="Shares" type="number" min="0">
    <button type="submit">Sell</button>
</form>
{% endblock %}