{% extends "base.html" %}

{% block title %}
    Trade History
{% endblock %}

{% block body %}

<a href="/logout">Logout</a>
<a href="/buy">Buy</a>
<a href="/deposit">Deposit</a>


<h3>Trade History</h3>
<table>
    <thead>
        <tr>
            <th>Order Type</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Order Price</th>
            <th>Total Value</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for row in trade_history %}
        <tr>
            <td>{{row.order_type}}</td>
            <td>{{row.symbol}}</td>
            <td>{{row.shares}}</td>
            <td>{{row.order_price}}</td>
            <td>{{row.total_value}}</td>
            <td>{{row.time}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}