{% extends "base.html" %}

{% block title %}
    Trade History
{% endblock %}

{% block header %}
    Trade History
{% endblock %}

{% block body %}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Order Type</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Order Price</th>
            <th>Total Value</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for row in trade_history %}
        <tr>
            <td>
                <script>
                  var orderType = "{{ row.order_type }}";  
                  if (orderType === "BUY") {
                    document.write('<span style="color: green; font-weight: bold;">' + orderType + '</span>');
                  } else {
                    document.write('<span style="color: red; font-weight: bold;">' + orderType + '</span>');
                  }
                </script>
            </td>
            <td>{{row.symbol}}</td>
            <td>{{row.shares}}</td>
            <td>{{row.order_price}}</td>
            <td>{{row.total_value}}</td>
            <td>{{row.time}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}